<!DOCTYPE html>
<html>
  <head>
    <title>Visitplanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <link rel="stylesheet" href="../../assets/pages/index.css">-

    <%#= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield :title %>
    <%= yield %>

 <script  src=../assets/index.js ></script>
  </body>
</html>
